.header_item {
  padding: 0.5rem;

  border-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

  cursor: pointer;
}

.header_item_wrapper {
  margin-left: 1rem;
  margin-right: 1rem;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .header_item {
    padding: 0.5vw;
  }

  .header_item_wrapper {
    margin: 0 3vw;
  }
}
