html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: #ffffff;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;

  color: #000000;

  font-size: min(40vw, 40vh);
  font-family: "monospace";

  transform: translate(-50%, -50%);
}
