.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100vw;
  height: 100vh;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;

  width: max-content;
  max-width: 95vw;
  max-height: 95vh;

  padding: 2rem 4rem;

  transform: translate(-50%, -50%);

  text-align: center;
}

.icon {
  margin: 2rem 0;
}

.content {
  margin: 4rem 0;
}

button.stack_toggle {
  margin: auto;
  margin-top: -2rem;

  text-align: center;
}

.stack {
  display: none;

  max-width: 600px;
  max-height: 300px;

  overflow: scroll;

  &.visible {
    display: block;
  }
}
