:root, body {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-text-dark: var(--color-black);

  --color-pink: #ee7ccc;
  --color-teal: #7ceeee;

  --family-font: system-ui;

  --size-font: 16px;
  --size-font-small: 14px;
  --size-font-tiny: 12px;
  --size-font-extra-tiny: 8px;
  --size-font-large: 18px;

  --size-width-mobile: 900px;

  --weight-font-normal: 400;
  --weight-font-boldish: 500;
  --weight-font-boldisher: 600;
  --weight-font-bold: 700;
  --weight-font-max: 900;
}

html {
  min-height: 100%;
}

html, body {
  position: relative;

  width: 100%;

  padding: 0;
  margin: 0;

  background: var(--color-background);

  color: var(--color-text);

  font-family: var(--family-font);
  font-size: var(--size-font);
  font-weight: var(--weight-font-max);
  
  letter-spacing: 0;
  line-height: 1;
  text-rendering: geometricPrecision;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

main {
  height: 100%;
  min-height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

  font-size: var(--size-font);
  font-weight: var(--weight-font-normal);

  text-align: left;
}

h2 {
  font-size: var(--size-font);
  font-weight: var(--weight-font-max);

  color: var(--color-black);
}

h4 {
  font-size: var(--size-font-small);
  font-weight: var(--weight-font-bold);
}

p {
  text-align: left;
}

label {
  position: relative;
  display: block;

  padding: 0;
  margin: 0;
  margin-left: 1rem;

  color: var(--color-text);
}

a {
  color: var(--color-black);

  font-weight: var(--weight-font-bold);

  text-decoration: none;
}

pre {
  font-weight: var(--weight-font-normal);
}

hr {
  margin: 46px 0;
}
