.container {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.container_render {
  position: absolute;

  top: 0;
  left: 50vw;
  
  width: 100vw;
  height: 100vh;

  filter: hue-rotate(-45deg);

  &:last-child {
    left: -50vw;

    filter: hue-rotate(67.5deg);
  }
}
