.container {
  padding: 40px;
  padding-bottom: 60px;

  // max-width: ;

  margin: auto;

  &.fixed_center {
    margin: 0;
    margin-bottom: 0;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

@media (max-width: 900px) {
  .container {
    padding: min(5vw, 40px);
  }
}
