.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: var(--color-white);

  border-top: solid 1px var(--color-black);
  padding: 10px;
  padding-top: 0;

  font-size: 10px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  * {
    color: var(--color-black);
  }
}

.footer_item {
  width: fit-content;
  padding: 10px 5px;

  text-align: center;
}

button.footer_item,
a.footer_item {
  margin: 0;
  padding: 10px;
  padding-top: 20px;

  background: none;
  border: none;
  box-shadow: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.footer_section_seperator {
  flex: 0.5;
}

@media (max-width: 900px) {
  .footer {
    padding: 5vw;
  }

  .footer nav {
    flex-direction: column;
  }

  .footer_item, button.footer_item, a.footer_item {
    padding: 1rem 0;
  }

  .nav + .footer_item {
    word-break: break-all;
  }
}
