.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 13px;
  
  margin-top: 84px;
  padding: 4%;
}

.project {
  height: min-content;

  border: 1px solid #000000;
}

.name {
  display: block;

  height: 50px;
  margin: 0;

  background: #000000;

  font-size: var(--size-font-large);
  font-weight: var(--weight-font-max);

  text-align: center;

  &, a {
    color: #ffffff;

    line-height: 50px;
  }
}

.platform {
  padding-left: 0.5em;
  font-size: var(--size-font-tiny);
  color: #7f7f7f;
}

.content {
  padding: 13px;

  h4 {
    height: 20px;
  }

  p {
    text-align: left;
  }

  pre {
    margin: auto;
    
    font-size: min(var(--size-font-extra-tiny), 2vw);

    text-align: center;
  }
}

.source_code_link_container, .tech {
  display: block;
  
  &, & a {
    font-weight: var(--weight-font-normal);
    font-size: var(--size-font-small);
  }
}

@media (max-width: 1200px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .tech {
    font-size: var(--size-font-tiny);
  }
}
